:root {
  scroll-padding: 100px;
}

.image_layer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.6),
    transparent
  );
  z-index: 1;
}

.navigate {
  z-index: 2;
}

.image_name {
  width: 300px;
  height: 100px;
}

.content {
  padding-top: 120px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
