
.midle_bg {
  background-image: linear-gradient(90deg, var(--color-dark), #160E09, #151209, var(--color-dark), var(--color-dark-tertiary));
}

.my_bg_dark {
  background-color: var(--color-dark);
  background-image: radial-gradient(circle at center, #51271069, transparent 60%);
}