:root {
    --color-primary: #f97316;
    --color-primary-light: #fb923c;
    --color-primary-dark: #ea580c;
    --color-orange-dark: #f973161a;
    --color-accent: #fbbf24;
    --color-dark: #0a0a0a;
    --color-dark-secondary: #111;
    --color-dark-tertiary: #1a1a1a;
    --color-dark-card: #161616;
    --color-border: #262626;
    --color-border-light: #5d5a5a;
}

::selection {
    background-color: var(--color-primary);
    color: white;
}

body {
    font-family: 'Tajawal', sans-serif;
}

.my-bg-primary {
    background-color: var(--color-primary);
}

.my-bg-primary-light {
    background-color: var(--color-primary-light);
}

.my-bg-primary-dark {
    background-color: var(--color-primary-dark);
}

.my-bg-accent {
    background-color: var(--color-accent);
}

.my-bg-dark {
    background-color: var(--color-dark);
}

.my-bg-dark-secondary {
    background-color: var(--color-dark-secondary);
}

.my-bg-dark-tertiary {
    background-color: var(--color-dark-tertiary);
}

.my-bg-dark-card {
    background-color: var(--color-dark-card);
}

.my-bg-border {
    background-color: var(--color-border);
}

.my-bg-border-light {
    background-color: var(--color-border-light);
}

.my-bg-orange-dark {
    background-color: var(--color-orange-dark);
}

.my-text-primary {
    color: var(--color-primary);
}

.my-text-primary-light {
    color: var(--color-primary-light);
}

.my-text-primary-dark {
    color: var(--color-primary-dark);
}

.my-text-accent {
    color: var(--color-accent);
}

.my-text-dark {
    color: var(--color-dark);
}

.my-text-dark-secondary {
    color: var(--color-dark-secondary);
}

.my-text-dark-tertiary {
    color: var(--color-dark-tertiary);
}

.my-text-dark-card {
    color: var(--color-dark-card);
}

.my-text-border {
    color: var(--color-border);
}

.my-text-border-light {
    color: var(--color-border-light);
}

.text-border {
    border: 1px solid var(--color-border);
}

.text-border-light {
    border: 1px solid var(--color-border-light);
}

.text-border-primary {
    border: 1px solid var(--color-primary);
}

.cursor-pointer {
    cursor: pointer;
}

.w-fit {
    width: fit-content;
}

.btn:hover {
    color: #FFF;
    background-color: var(--color-primary);
    border-color: transparent;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.btn {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.nav-link.active {
    background-color: var(--color-primary) ;
    color: #FFF ;
}

.grid_bg {
  background-color: #0b0b0b;

  background-image:
    linear-gradient(rgba(255,255,255,0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.06) 1px, transparent 1px),
    radial-gradient(circle at center, #51271069, transparent 70%);

  background-size:
    40px 40px,
    40px 40px,
    100% 100%;
}

.dot::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 10px var(--color-primary);
  animation: fade-in-out 1s ease-in-out infinite;
  -webkit-animation: fade-in-out 1s ease-in-out infinite;
  -moz-animation: fade-in-out 1s ease-in-out infinite;
  -ms-animation: fade-in-out 1s ease-in-out infinite;
  -o-animation: fade-in-out 1s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% {
    box-shadow: 0 0 2px rgba(255, 165, 0, 0.2);
  }

  50% {
    box-shadow: 0 0 12px 4px var(--color-primary);
  }

  100% {
    box-shadow: 0 0 2px rgba(255, 165, 0, 0.2);
  }
}

.card:hover .image {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.image {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}


